@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

.nav-content {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 38vh;
  left: 30vh;
  color: white;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 668px) {
  .nav-content {
    left: 10vh;
  }
}

.nav-content .content h1 {
  font-size: 4rem;
}
.nav-content .content p {
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 668px) {
  .nav-content .content h1 {
    font-size: 3rem;
  }
}

.nav-content .big-btn {
  padding: 1em;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: bold;
  font-size: 0.8rem;
  color: #000000;
  margin-top: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease 0.5s;
}

.nav-content .big-btn:active {
  transform: scale(0.94);
}

.nav-content .transparent {
  background-color: transparent;
}

.nav-content .transparent:hover {
  background-color: #fff;
}

.nav-content .filled {
  margin-left: 20px;
}

.nav-content .buttons button:last-child i {
  margin-left: 5px;
}
